/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a, h1 {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  nav h1 {
    font-style: italic;
  }

  nav ul#search-bar {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px;
  }

  nav ul#search-bar img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  nav ul#search-bar input {
    padding: 5px;
    border: none;
    margin: 0;
    color: rgb(97, 163, 220);
  }

  nav ul#search-bar input::placeholder {
    color: rgb(97, 163, 220)
  }


/* Body CSS */
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(./images/mavicure.jpg) no-repeat fixed center center;
    background-size: 100% 100%;
} 

.container {
    display: flex;
    flex-flow: row;
    width: 50%;
    margin-left: 20px;
}
.body-text {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-left: 80px;
    color: white;
}
.social {
    display: flex;
    flex-flow:column;
    align-items:center;
}
.social img {
    width:30px;
    height:30px;
}
.main-title {
    margin-top: 15%;
    width: 400px;
    height: 300px;
    flex: 0 1 auto;
    font-size: xx-large;
}

.description {
    width: 300px;
    height: 200px;
    flex: 1 1 auto;
}
button {
    background-color: rgb(97, 163, 220);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(97, 163, 220);
}
